
// Typograhpy (create a sane font-stack)
$font: colaborate, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-display: colaborate, 'Helvetica Neue', Helvetica, sans-serif;

// Silent headings
%hx {
  font: {
    family: $font-display;
    weight: 200;
  }
  line-height: 1.15;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

%h1 { @extend %hx; @include font-size(35); margin-bottom: 35px; }
%h2 { @extend %hx; @include font-size(25); margin-bottom: 30px; line-height: 1.28; }
%h3 { @extend %hx; @include font-size(20); }
%h4 { @extend %hx; @include font-size(18); }

// Header extends
h1 { @extend %h1; }
h2 {
  @extend %h2;
}
h3 { @extend %h3; }
h4 { @extend %h4; }

// Paragraphs
p,
q {
  margin-bottom: 1rem;
  @include font-size(16);
}

// Links
a {
  border-bottom: solid 1px $color-link;
  color: $color-link;
  text-decoration: none;
  &:hover,
  &:focus {
    border-color: $color-link--hover;
    color: $color-link--hover;
  }
  &:focus {
    box-shadow: 0;
    outline: dotted thin $color-link--hover;
  }
}

// Text selection
::selection {
  background: $color-selection-bg;
  color: $color-selection;
  text-shadow: none;
}

::-moz-selection {
  background: $color-selection-bg;
  color: $color-selection;
  text-shadow: none;
}

// Formatting (inline)
em { font-style: italic; }
strong { font-weight: bold; }
