.hero {
	background-color: var(--primaryColor);
	min-height: var(--heroHeight);
	padding: var(--layoutPadding);
	margin: 0 auto;
}

.hero p {
	color: var(--primaryColor-faded);
}

.hero em {
	color: var(--secondaryColor);
	font-style: normal;
}

.cta {
	padding: 1.5rem 3rem;
	margin-top: 2rem;
	font-size: var(--textSizeMedium);
}

.wave {
	cursor: grab;
	display: inline-block;
	transform-origin: bottom;
}

.wave:hover {
	animation-name: wave;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 1, 0.4, 1);
}

@keyframes wave {
	0% {
		transform: rotate(5deg);
	}
	5% {
		transform: rotate(-5deg);
	}
	10% {
		transform: rotate(5deg);
	}
	15% {
		transform: rotate(-5deg);
	}
	20% {
		transform: rotate(5deg);
	}
	25% {
		transform: rotate(-5deg);
	}
	30% {
		transform: rotate(5deg);
	}
	35% {
		transform: rotate(-5deg);
	}
	40% {
		transform: rotate(5deg);
	}
	45% {
		transform: rotate(-5deg);
	}
	50% {
		transform: rotate(0);
	}
}
