!!!5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(href="../../public/stylesheets/main.css" rel="stylesheet")
    %link(href="http://fonts.googleapis.com/css?family=Signika+Negative:400" rel="stylesheet" type="text/css")
  %body

    %header.header
      %figure.header__figure
        %img.header__logo(src="../../assets/images/logo-bubble.png")
        %img.header__logo--alt(src="../../assets/images/logo-cogs.png")
      %span.header__loader

    %section.intro-sec
      %article.intro-sec__text
        %h2 I am <b>Nikki Strømsnes</b>, a freelance frontend developer working out of Aarhus, Denmark.
        %h2 I love to design and create <b>great UI</b>.
        %h3 I am now open for new projects!

    %section.about-sec
      %article.about-sec__text
        %h2 I am <b>Nikki Strømsnes</b>, a freelance frontend developer working out of Aarhus, Denmark.
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quam fuga molestias quo sint quibusdam, veniam, blanditiis tempore fugiat est cupiditate. Cum voluptatum, dicta sit. Ab, similique, quis. Labore, doloremque.
        %p Architecto eligendi odio omnis earum sequi quos facere debitis reiciendis delectus! Fugit sunt odit unde voluptate illum error accusamus dignissimos accusantium eveniet.
        %p Odio unde iste temporibus quae labore sapiente accusamus nostrum, ab itaque. Temporibus dolore fugit soluta.

    %section.client-sec
      %h2 Clients I have worked with
      %img.client-sec__logo(src="../../media/bsa-logo.png")
      %img.client-sec__logo(src="../../media/bsa-logo.png")
      %img.client-sec__logo(src="../../media/bsa-logo.png")
      %img.client-sec__logo(src="../../media/bsa-logo.png")
      %img.client-sec__logo(src="../../media/bsa-logo.png")
      %img.client-sec__logo(src="../../media/bsa-logo.png")


    %script(defer async src="../../public/javascripts/main.js")
