!!!5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(href="../../public/stylesheets/main.css" rel="stylesheet")
    %link(href="http://fonts.googleapis.com/css?family=Signika+Negative:400" rel="stylesheet" type="text/css")
  %body

    %header.header
      %figure.header__figure
        %img.header__logo(src="../../assets/images/logo-bubble.png")
        %img.header__logo--alt(src="../../assets/images/logo-cogs.png")
      %span.header__loader

    %section.intro-sec
      %article.intro-sec__text
        %h2 I am <b>Nikki Strømsnes</b>, a freelance frontend developer working out of Aarhus, Denmark.
        %h2 I love to design and create <b>great UI</b>.
        %h3 I am now open for new projects!

    %section.df-sec
      %article.dfntro-sec__text
        %h2 I am <b>Nikki Strømsnes</b>, a freelance frontend developer working out of Aarhus, Denmark.
        %h2 I love to design and create <b>great UI</b>.
        %h3 I am now open for new projects!

    %script(defer async src="../../public/javascripts/main.js")
