!!!5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(href="../../public/stylesheets/main.css" rel="stylesheet")
  %body

    %header.header
      %figure.header__logo

      %h1 Hello, friend!
      %h2 I am Nikki Strømsnes, a freelance frontend developer, working out of Aarhus, Denmark. I love to design and great UI.
      %h3 I am now open for new projectss!


    %script(defer async src="../../public/javascripts/main.js")
