// ==========================================================================
// COLORS (use inferiour US spelling consistent with the actual property name)
// ==========================================================================

$color-primary  : #7ec9e4; // sky blue
$color-secondary: #6e6e6f; // dark grey
$color-tertiary : #231f20; // dark brown

$color-text: #000;
$color-text--faded: #b2b2b2;

$color-text-negative: #fff;

$color-display: $color-text;
$color-selection: #fff;
$color-selection-bg: rgba(0,0,0,.6);

$color-border: #aaa;

$color-interactive: $color-primary;
$color-interactive-hover: #76C0CF;

$color-link: $color-text;
$color-link--hover: lighten($color-link, 15%);
